* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url('/papier.png');
}
:root {
    --lingrad-a: 0, 0, 255;
    --lingrad-b: 150, 0, 255;
    --bg-color: white;
    --text-color: black;
    --theme-container-color: rgba(209, 199, 218, 0.45);
}


.default {
    --lingrad-a: 0, 0, 255;
    --lingrad-b: 150, 0, 255;
    --bg-color: white;
    --text-color: black;
    --theme-container-color: rgba(209, 199, 218, 0.45);
}

.purple {
    --lingrad-a: 0, 0, 255;
    --lingrad-b: 150, 0, 255;
    --bg-color: rgba(150, 0, 255, 0.05);
    --text-color: black;
    --theme-container-color: rgba(183, 143, 222, 0.45);
}

.dark {
    --lingrad-a: 38, 42, 59;
    --lingrad-b: 56, 91, 114;
    --bg-color: rgba(33, 33, 33, 0.75);
    --text-color: #ffffff;
    --theme-container-color: rgba(89, 106, 115, 0.63);
}

.green {
    --lingrad-a: 0, 153, 56;
    --lingrad-b: 0, 153, 153;
    --bg-color: rgba(0, 255, 13, 0.05);
    --text-color: black;
    --theme-container-color: rgba(204, 255, 207, 0.26);
}

.blue {
    --lingrad-a: 2, 73, 214;
    --lingrad-b: 2, 193, 214;
    --bg-color: rgba(0, 140, 255, 0.05);
    --text-color: black;
    --theme-container-color: rgba(190, 216, 255, 0.6);
}

.gray {
    --lingrad-a: 55, 55, 55;
    --lingrad-b: 125, 125, 125;
    --bg-color: rgba(0, 0, 0, 0.07);
    --text-color: black;
    --theme-container-color: rgba(229, 255, 255, 0.4);
}

.red {
    --lingrad-a: 189, 0, 0;
    --lingrad-b: 189, 0, 47;
    --bg-color: rgba(200, 0, 0, 0.07);
    --text-color: black;
    --theme-container-color: rgba(255, 197, 197, 0.3);
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-2deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(2deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(2deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-2deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-2deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(2deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-2deg);
    }
}

.shake {
    animation: shake .6s infinite;
}

.ant-message-notice-content {
    background-color: transparent;
    background-image: linear-gradient(120deg, rgba(var(--lingrad-a), 0.3), rgba(var(--lingrad-b), 0.3)) !important;
    color: var(--text-color);
}

.dark .ant-message-notice-content {
    background-image: linear-gradient(120deg, rgba(var(--lingrad-a), 0.7), rgba(var(--lingrad-b), 0.7)) !important;
}

.dark .ant-dropdown-menu,.dark .ant-dropdown-menu-item {
    background-color: var(--theme-container-color) !important;
}

.ant-tabs-content-holder {
    height: 100%;

}
.ant-tabs-content {
    height: 100%;
}
.chat-message-content img {
    max-height: 300px;
}
